[submodule ".registry"]
	path = .registry
	url = https://github.com/apsmunro/apsmunro.r-universe.dev
	branch = HEAD
[submodule "r4clinstats"]
	path = r4clinstats
	url = https://github.com/apsmunro/r4clinstats
	branch = master
